//colors
$white-color: #F7F7F7;
$blue-light-color: #e1e7ee;
$blue-dark-color: #344D67;
$white-transparent-color: rgba(252, 248, 243, .2);
$black-color: black;
$black-color-darker: rgba($black-color, .527);
$black-color-lighter: rgba($black-color, .5);
$red-color: #F96666;
$brown-color: #B3541E;
$brown-lighter-color: rgba(179, 85, 30, .7);

//fonts
$primary-font: Verdana, Geneva, Tahoma, sans-serif;
$secondary-font: 'Comic Sans MS', cursive;