@import '_vars';
@import 'breakpoints';

.about-wrapper {
    display: flex;
    flex-direction: column;

    .header .nav li a {
        color: $black-color;
    }

    .header .nav li .about {
        border-bottom: 1px solid $blue-dark-color;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 7rem;

        @include md {
            padding: 2rem 6rem 0 6rem;
        }
    
        @include sm {
            padding: 2rem 4rem 0 4rem;
        }
    
        @include xs {
            padding: 2rem 2rem 0 2rem;
        }

        h1 {
            margin-bottom: 2rem;
            color: $black-color;
            font-size: 2rem;
            font-weight: 500;

            &:before {
                content: "/ ";
                color: $brown-color;
            }

            @include md {
                font-size: 1.8rem;
            }
        
            @include sm {
                font-size: 1.6rem;
            }
        }

        p {
            color: $blue-dark-color;
            font-size: 1.2rem;
        }
    }
}